/*---------- All AnBredFMS stylesheet here (overwrite the original Adminlte's css) ----------*/
body {
    font-family: 'Tahoma', 'Segoe UI', Arial, Geneva, Verdana, sans-serif !important;
}

.main-header .sidebar-toggle:before {
    content: "\f03a";
}

.main-footer {
    background-color: #ecf0f5
}

a.anbred-link-default {
    color: #333;
    text-decoration-style: none;
}

a:hover.anbred-link-default {
    color: green;
    text-decoration: underline
}

a.anbred-link-warning {
    color: #333;
    text-decoration-style: none;
}

a:hover.anbred-link-warning {
    color: #ff6a00;
    text-decoration: underline
}

a.anbred-link-danger {
    color: #333;
    padding: 0px 15px 0px 9px;
    text-decoration-style: none;
}

a:hover.anbred-link-danger {
    color: #d04424;
    text-decoration: none
}

/**************************************************************  Control panel  (Master page)  ***************************************************************/

h3.box-title.abfms-font,
h1.abfms-font {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important
}

hr.abfms-white-line {
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    margin-top: 0px
}

sup.abfms-shortcut {
    font-size: 22px;
    font-weight: bolder
}

.logo.anbred-logo-bg {
    background-color: rgb(0, 166, 90) !important;
}

.navbar.anbred-mini-sidebar-bg {
    background-color: #008d4c !important
}

.user-panel.anbred-farm-panel {
    background-color: #008d4c !important;
    padding-top: 14px !important;
    padding-bottom: 14px !important;
    margin-bottom: 0px !important;
    margin-top: 0px !important
}

.nav.navbar-nav.anbred-search-ear-tag {
    width: 250px !important;
    position: relative !important;
    display: inline-block !important;
    padding-top: 9px !important;
    padding-right: 30px !important;
    padding-left: 15px !important
}

.anbred-box-bg {
    background-color: #36bc99 !important
}

.anbred-box-border {
    border-color: #36bc99 !important;
    border-style: solid !important;
    border-width: 1px !important
}

.user-header.anbred-box-bg.anbred-box-border-top,
.header.anbred-box-bg.anbred-box-border-top {
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
}

.anbred-box-border-rl {
    border-right: #36bc99 solid 1px !important;
    border-left: #36bc99 solid 1px !important;
}

.user-footer.anbred-box-border-bottom,
.footer.anbred-box-border-bottom {
    border-bottom-right-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
    border-right: #36bc99 solid 1px !important;
    border-left: #36bc99 solid 1px !important;
    border-bottom: #36bc99 solid 1px !important
}

.dropdown-menu.anbred-box-list-border {
    margin-top: 1px !important;
    border: 1px solid #36bc99 !important;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    border-bottom-left-radius: 4px !important
}

.dropdown-menu.anbred-nav-list {
    border: 2px solid rgb(0, 166, 90);
}

.sidebar-menu.anbred-controlpanel {
    height: auto !important;
    /*overflow: inherit !important*/
}


.box.box-default.anbred-box-simple {
    background-color: #f7f7f7 !important;
    padding-left: 15px !important;
    padding-right: 15px !important
}

.box-header.anbred-box-report-bg,
.box.box-footer.anbred-box-report-bg {
    background-color: #f7f7f7 !important;
}

.box-header.with-border.anbred-box-simple-title {
    margin-bottom: 5px !important;
    border-bottom: 1px solid #d2d6de !important
}

.box-tools.pull-right.abfms-label-margin {
    margin-top: 5px;
}

.label.abfms-font-label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-size: small;
    font-weight: normal;
    padding: 5px 10px;
    text-align: justify
}

.control-label.anbred-toolbox-font {
    padding-top: 9px !important;
    font-weight: normal !important
}


/******************************************************************  Content page   ******************************************************************/




/******************************************************************  .table bootstrap   ******************************************************************/
.table-hover.anbred-table-default > thead > tr > th {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}

.table-hover.anbred-table-default > tbody > tr > td {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.table.table-bordered {
    border: 1px solid #ddd !important;
}

.table-bordered {
    border: 1px solid #ddd;
    border-radius: 4px !important;
}

    .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
        border: 1px solid #ddd;
        padding-bottom: 3px !important;
        padding-top: 3px !important;
        vertical-align: middle
    }

.table-hover > thead > tr > th, .table-hover > tbody > tr > th, .table-hover > tfoot > tr > th, .table-hover > thead > tr > td, .table-hover > tbody > tr > td, .table-hover > tfoot > tr > td {
    border-color: #ddd;
    padding-bottom: 3px;
    padding-top: 3px;
    vertical-align: middle
}

.table-hover > thead > tr > th, .table-hover > thead > tr > td,
.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
    border-bottom-width: 2px !important
}

.table-hover > thead > tr.anbred-tblReport-txt-center > th,
.table-bordered > thead > tr.anbred-tblReport-txt-center > th,
.table-bordered > tfoot > tr.anbred-tblReport-txt-center > th {
    text-align: center !important;
    vertical-align: middle !important;
    font-weight: normal;
    padding-top: 10px !important;
    padding-bottom: 10px !important
}

.table-hover > tbody > tr.anbred-tblReport-row-highlight-center > td,
.table-bordered > thead > tr.anbred-tblReport-row-highlight-center > th,
.table-bordered > tbody > tr.anbred-tblReport-row-highlight-center > td {
    background-color: #f2f2f2 !important;
    text-align: center !important;
    vertical-align: middle !important;
    font-weight: normal;
    padding-top: 8px !important;
    padding-bottom: 8px !important
}

.table-hover > thead > tr.anbred-tblReport-txt-center.header-text-bold > th,
.table-bordered > thead > tr.anbred-tblReport-txt-center.header-text-bold > th {
    font-weight: bold !important;
}

.table-hover > tbody > tr.anbred-highlight-row > td,
.table-bordered > thead > tr.anbred-highlight-row > th,
.table-bordered > tbody > tr.anbred-highlight-row > td {
    background-color: #f2f2f2;
    padding-right: 20px;
    text-align: right;
    font-weight: normal
}

.table-bordered > tbody > tr.anbred-highlight-row.demi-highlight > td {
    background-color: rgba(242, 242, 242, 0.30);
}

.table-hover > tbody > tr.anbred-highlight-row.header-align-center > td,
.table-bordered > tbody > tr.anbred-highlight-row.header-align-center > td {
    text-align: center !important;
    vertical-align: middle !important
}

.table-hover > tbody > tr.anbred-highlight-row.row-header > td,
.table-bordered > thead > tr.anbred-highlight-row.row-header > th,
.table-bordered > tbody > tr.anbred-highlight-row.row-header > td {
    padding: 6px 0px !important;
    text-align: center
}

.table-hover > tbody > tr.anbred-tblrow-align-right > td,
.table-bordered > tbody > tr.anbred-tblrow-align-right > td {
    padding-right: 20px;
    text-align: right
}

.table-hover > tbody > tr.anbred-tblrow-align-right.border-top,
.table-bordered > tbody > tr.anbred-tblrow-align-right.border-top {
    border-top: 2px solid #ddd
}

.table-hover > tbody > tr.anbred-tblrow-align-right > td.align-center,
.table-bordered > tbody > tr.anbred-tblrow-align-right > td.align-center {
    font-weight: bold;
    text-align: center !important
}

.table-hover > tbody > tr.anbred-tblrow-align-right.has-col-rate > td:last-child,
.table-bordered > tbody > tr.anbred-tblrow-align-right.has-col-rate > td:last-child {
    padding-right: 0px;
}

.table-hover > tbody > tr.anbred-tblrow-align-right.sub-info > td,
.table-bordered > tbody > tr.anbred-tblrow-align-right.sub-info > td {
    color: #777;
    font-size: 12px;
    background-color: rgba(242, 242, 242, 0.20);
}

.table-hover > tbody > tr.anbred-tblrow-align-left > td,
.table-bordered > tbody > tr.anbred-tblrow-align-left > td {
    padding-left: 10px;
    text-align: left
}

    .table-hover > tbody > tr.anbred-tblrow-align-left > td.align-center,
    .table-bordered > tbody > tr.anbred-tblrow-align-left > td.align-center {
        padding-left: 0px;
        padding-right: 0px;
        text-align: center !important
    }

    .table-hover > tbody > tr.anbred-tblrow-align-left > td.align-right,
    .table-bordered > tbody > tr.anbred-tblrow-align-left > td.align-right {
        text-align: right
    }

.table-bordered > tbody > tr.anbred-tblrow-align-default > td {
    padding: 0px;
    text-align: center;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 15px;
    font-weight: lighter;
}

.table-hover > thead > tr > th.cell-border-left, .table-hover > thead > tr > th.col-md-1.cell-border-left,
.table-hover > thead > tr > td.cell-border-left, .table-hover > thead > tr > td.cell-bg-disable.cell-border-left,
.table-hover > tbody > tr > th.cell-border-left, .table-hover > tbody > tr > th.col-md-1.cell-border-left,
.table-hover > tbody > tr > th.cell-bg-disable.cell-border-left, .table-hover > tbody > tr > td.cell-border-left,
.table-hover > tbody > tr > td.align-center.cell-border-left, .table-hover > tfoot > tr > th.cell-border-left,
.table-hover > tfoot > tr > td.cell-border-left, .table-bordered > thead > tr > th.cell-border-left,
.table-bordered > thead > tr > th.col-md-1.cell-border-left, .table-bordered > thead > tr > td.cell-border-left,
.table-bordered > thead > tr > td.cell-bg-disable.cell-border-left, .table-bordered > tbody > tr > th.cell-border-left,
.table-bordered > tbody > tr > th.col-md-1.cell-border-left, .table-bordered > tbody > tr > th.cell-bg-disable.cell-border-left,
.table-bordered > tbody > tr > td.cell-border-left, .table-bordered > tbody > tr > td.align-center.cell-border-left,
.table-bordered > tfoot > tr > th.cell-border-left, .table-bordered > tfoot > tr > td.cell-border-left {
    border-left: 2px solid #ddd !important;
}

/*.table-hover > thead > tr.anbred-tblReport-row-header > th,*/
.table-bordered > thead > tr.anbred-tblReport-row-header > th {
    background-color: #f2f2f2 !important;
    text-align: center;
    vertical-align: middle !important;
    font-weight: normal;
    padding-top: 10px !important;
    padding-bottom: 10px !important
}

    .table-hover > thead > tr.anbred-tblReport-row-header > th.txt-left,
    .table-bordered > thead > tr.anbred-tblReport-row-header > th.txt-left {
        text-align: left;
        padding-left: 10px
    }

/*.table-hover > tbody > tr.anbred-tblReport-row-footer > td,*/
.table-bordered > tbody > tr.anbred-tblReport-row-footer > td {
    background-color: #f2f2f2 !important;
    vertical-align: middle !important;
    font-weight: normal;
    padding-top: 8px !important;
    padding-bottom: 8px !important
}

.table-hover > thead > tr > th.report-tbl-col-stt,
.table-bordered > thead > tr > th.report-tbl-col-stt {
    table-layout: fixed !important;
    width: 4%
}

.table-hover > tbody > tr.separator-row > td,
.table-bordered > tbody > tr.separator-row > td {
    height: 2px;
    padding: 0px !important;
}

td.anbred-tbl-report-border {
    display: table-cell;
    border: 1px solid #808080 !important;
}

.cell-border-left.txt-center {
    vertical-align: central !important;
    text-align: center !important;
    padding-right: 0px !important;
}

.cell-bg-disable {
    background-color: #ddd;
    background-image: repeating-linear-gradient(135deg, transparent, transparent 1px, white 1px, white 4px);
}

/******************************************************************  Report Mating  ******************************************************************/


blockquote.anbred-tblcaption {
    margin: 15px;
    height: 38px;
}

    blockquote.anbred-tblcaption > h5 {
        color: #9b9999;
        font-weight: bold;
        margin: 0px
    }

blockquote.anbred-month-view {
    margin: 0px;
    background-color: aliceblue;
    min-height: 155px;
    width: 72%;
    float: right;
    color: #555
}

    blockquote.anbred-month-view > footer {
        margin-bottom: 5px
    }

a.anbred-big-link {
    color: #bbb9b9;
    text-decoration: none;
}

a:hover.anbred-big-link {
    color: #008d4c;
    text-decoration: none;
}

a.anbred-big-link > p.txt-month {
    display: inline-table;
    padding: 15px 0px 0px 15px;
    text-align: center
}

    a.anbred-big-link > p.txt-month > span.num-month {
        font-size: 50px;
        font-family: serif, monospace
    }

a.anbred-link-inputdate {
    color: #555;
    padding-left: 5px;
}

    a.anbred-link-inputdate > sup.label {
        margin-left: 10px;
        background-color: #ddd
    }

a:hover.anbred-link-inputdate {
    color: #008d4c;
    text-decoration: underline;
}

blockquote.info-default-right > p > code {
    background-color: #f7f7f7 !important
}

    blockquote.info-default-right > p > code.titleReport {
        padding: 8px 5px 8px 25px !important;
        font-weight: bold !important;
        font-size: medium !important;
        color: #808080
    }

blockquote.info-default-right > footer.export-pdf {
    margin-top: 20px;
}

    blockquote.info-default-right > footer.export-pdf > i {
        padding-right: 10px;
        color: #d04424
    }

blockquote.info-default-right > footer.export-excel {
    margin-top: 12px;
}

    blockquote.info-default-right > footer.export-excel > i {
        padding-right: 10px;
        color: #217748
    }

blockquote.info-default-right > footer.export-printer {
    margin-top: 25px;
}

    blockquote.info-default-right > footer.export-printer > i {
        padding-right: 10px;
        color: rgb(85, 85, 85)
    }

a.anbred-link-export {
    color: #333;
    text-decoration-style: none;
}

a:hover.anbred-link-export {
    text-decoration: underline
}

blockquote.anbred-overview {
    border-left-color: rgb(0, 166, 90);
}

    blockquote.anbred-overview > p.margin-bottom {
        margin-bottom: 20px !important;
    }

    blockquote.anbred-overview > p > code {
        background-color: #f7f7f7 !important;
    }

        blockquote.anbred-overview > p > code.an-title {
            padding: 8px 25px 8px 5px !important;
            font-weight: bold !important;
            font-size: medium !important;
            color: rgb(0, 166, 90);
        }

    blockquote.anbred-overview > footer.an-content {
        margin-top: 12px;
        margin-bottom: 0px;
        color: #333;
    }

blockquote.info-success {
    border-left-color: #00a65a;
}

    blockquote.info-success > p > code {
        background-color: rgba(54, 188, 153, 0.10) !important
    }

        blockquote.info-success > p > code.titleReport {
            padding: 8px 25px 8px 5px !important;
            font-weight: bold !important;
            font-size: medium !important;
            color: #00a65a
        }

.anbred-tbl-ear-tag {
    width: 100%;
    margin: 5px 0px
}

.anbred-ear-tag-number {
    height: auto;
    margin: 0px 0px 5px 15px;
    padding: 0px 0px 5px 15px;
    vertical-align: middle;
    border-left: 5px solid #ddd;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace !important;
}

    .anbred-ear-tag-number > h2 {
        color: rgb(85, 85, 85);
        margin: 0px;
        padding: 0px;
        font-weight: bolder;
        font-family: Menlo, Monaco, Consolas, "Courier New", monospace !important;
        font-size: 34px
    }

.anbred-parent {
    margin: 5px 0px 0px 5px;
    font-weight: normal !important;
}

.anbred-ear-tag-info {
    color: rgb(85, 85, 85);
    font-weight: normal !important;
    font-size: 15px;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}


    .anbred-ear-tag-info.tag-title {
        text-align: right
    }


    .anbred-ear-tag-info.tag-content {
        padding-left: 5px;
        font-weight: bold !important
    }


blockquote > h5 {
    color: green;
    font-size: 16px
}

blockquote.info-title {
    border-left-color: #f39c12;
    margin-top: 15px;
}

    blockquote.info-title > footer {
        margin-top: 15px;
        margin-bottom: 0px;
        padding: 0px
    }

    blockquote.info-title > p > code {
        background-color: #f39c12;
    }

        blockquote.info-title > p > code.titleReport {
            background-color: #f39c12;
            margin-top: 0px;
            padding: 8px 25px 8px 5px;
            font-weight: bold;
            color: white;
        }

.anbred-nav-toggle {
    margin-top: 0px;
    padding: 4px 10px 4px 5px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 16px;
    border-color: #f39c12;
}

    .anbred-nav-toggle > i {
        padding-right: 10px
    }

    .anbred-nav-toggle > span.caret {
        margin-left: 15px
    }

.anbred-pager-toggle {
    border: none;
    background-color: white
}

.an-box-border-top {
    border-top: 2px solid #f4f4f4;
    padding-top: 18px;
    background-color: #fff
}

td > div.col-rate-value {
    text-align: left;
}

    td > div.col-rate-value > h3 {
        color: green;
        text-align: center;
        font-weight: bold;
    }


.anbred-frame {
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: white;
    width: 70%;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    padding: 0px;
}

.anbred-frame-logo {
    background-color: #00a65a;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    margin: 0px;
    height: 548px;
    padding-top: 16%;
    text-align: center;
    color: white
}

    .anbred-frame-logo > h1 > strong {
        font-weight: bolder
    }

.anbred-frame-info {
    padding-top: 3%;
    text-align: center;
}

.anbred-frame-login {
    background-color: #f5f5f5;
    border-radius: 6px;
    margin-left: 18%;
    margin-top: 10%;
}

.good-check {
    color: forestgreen;
    padding-left: 10px;
}

.bad-check {
    color: #f39c12;
    padding-left: 10px;
}

.anbred-note {
    min-height: 18px !important;
    min-width: 18px !important;
    border: 1px solid #9b9999;
    display: inline-flex;
    vertical-align: middle;
    margin-left: 15px;
}

.good-sign {
    background-color: deepskyblue;
}

.normal-sign {
    background-color: yellow;
    /*text-decoration: underline  (for printer only)*/
}

.bad-sign {
    background-color: red;
    color: white;
    font-weight: 600 !important
}

.forcast-sign {
    background-color: white;
}

.shortcut {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    text-align: center;
    font-style: italic;
    color: #555;
}

    .shortcut.inline {
        display: inline-block;
    }

    .shortcut.incell {
        table-layout: fixed !important;
        font-size: 13.5px !important;
        color: #333 !important;
        padding: 0px !important;
        max-width: 32px !important;
        min-width: 32px !important;
    }

.anbred-note-text {
    padding-left: 7px;
    padding-right: 25px;
    display: inline-flex;
    vertical-align: bottom;
    font-style: italic;
}

.panel-footer {
    border-top: none;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: white;
}

.note-panel {
    padding-left: 15px;
    margin-bottom: 20px;
    font-style: italic;
}

.anbred-toolbar-btns {
    background-color: rgba(250, 250, 250, 0.80);
    border: none
}

.an-margin-btns {
    margin-left: 15px;
    margin-right: 15px;
}


table.anbred-tbl-herdsize > thead > tr > th,
table.anbred-tbl-herdsize > tfoot > tr > th {
    padding-top: 9px;
    padding-bottom: 9px
}

table.anbred-tbl-herdsize > tbody > tr > td {
    padding-top: 13px;
    padding-bottom: 13px
}
